# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
docs/resources/Miles.zip filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Design filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Feedback[[:space:]]Master[[:space:]]Document.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Game[[:space:]]Design[[:space:]]Checklist.xlsx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Production filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Sprint[[:space:]]Reports[[:space:]](COS) filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Alpha[[:space:]]Finalisation[[:space:]]Roadmap.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Art filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Game[[:space:]]Design[[:space:]]Document.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Memorandum[[:space:]]of[[:space:]]Understanding.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Production[[:space:]]Schedule.xlsx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Sound filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Writing filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Playtesting[[:space:]]Task[[:space:]]Doc.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/Processes.docx filter=lfs diff=lfs merge=lfs -text
docs/CATGUNGIRL_Drive/** filter=lfs diff=lfs merge=lfs -text
