# Godot 4+ specific ignores
.godot/
/android/
docs/resources/Alvin/Live Reacts/emote reacts/freaky GG.gif.log
art/2d_assets/missiles/Scrubs_var.png.import
art/2d_assets/Missiles/Trunks_var.png.import
